.task-description {
  min-height: 120px;
}

.task-description h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.task-description p {
  margin: 0;
  color: #495057;
  font-size: 16px;
  line-height: 1.4;
}
