node_modules
build
dist
.git
.idea
.vscode
*.log
logs/
server/target
server/.mvn
server/mvnw*
server/mvnw.cmd
server/.classpath
server/.project
server/.factorypath

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

coverage
.nyc_output
.jest/

*.iml

client/build/
tests/
performance_tests/
tsconfig.tsbuildinfo
docker-compose.override.yml
TODO.md

