.env

node_modules/
server/target/
server/.mvn/

build/
dist/
client/build/

logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

docker-compose.override.yml

**/*.tsbuildinfo
**/*.buildinfo

server/.project
server/.classpath
server/.factorypath
server/.settings/

.idea/
*.iml

tests/ui/playwright-report/
tests/ui/test-results/
tests/ui/videos/
tests/ui/traces/
tests/ui/screenshots/

performance_tests/быстродействие/
performance_tests/расход ресурсов/
performance_tests/точность/
performance_tests/**/*.png
performance_tests/**/*.json

performance_tests/node_modules/
tests/*/node_modules/

.cache/
.env.*
**/*.log
.DS_Store
